Semester 1/.DS_Store
Semester 1/Algoritma & Pemrograman/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/.vscode/tasks.json
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Info.plist
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Resources/DWARF/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Semester 1/Algoritma & Pemrograman/PRAKTIKUM/.DS_Store
.DS_Store
KULIAH (iCloud)
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 2 (Program Rata2)/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/01_output.txt
.tmp.drivedownload
.tmp.driveupload
.vscode
Semester 1/Algoritma & Pemrograman/Teori/Remedial UTS/main
Semester 1/Algoritma & Pemrograman/Teori/TUGAS/Tugas Algo 4 (Program looping rerata)/main
Semester 1/Fisika 
Semester 1/Inggris 
Semester 1/Logika 
Semester 1/Matematika 
Semester 1/PKN 
Semester 1/UTS
MABA
ASET REFERENSI
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/segitiga/segitiga.pages
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/segitiga/segitiga.pdf
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/segitiga/main
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/ganjil 1 - 100/main
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/ganjil 1 - 100/ganjil (1-100).pdf
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/ganjil 1 - 100/ganjil (1-100).pages
Semester 1/Algoritma & Pemrograman/Praktikum/UAP/main
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P1
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P2
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P3
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P4
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P5
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P6
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P7
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P8
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P9
Semester 1/Pengenalan Ilmu Komputer/Praktikum/P10
Semester 1/Algoritma & Pemrograman/Praktikum/P10/Variabel Global & Lokal/main
Semester 1/Algoritma & Pemrograman/Praktikum/P10/Routine & Sub-Routine/main
Semester 1/Algoritma & Pemrograman/Praktikum/P10/Rekursif/main
Semester 1/Algoritma & Pemrograman/Praktikum/P9/main
Semester 1/Algoritma & Pemrograman/Praktikum/UAP/option rumit/main
Semester 1/Algoritma & Pemrograman/Praktikum/UAP/option simple/main
Semester 1/Algoritma & Pemrograman/Teori/test
Semester 1/Algoritma & Pemrograman/Teori/test.cpp
JOKI TEMEN
Semester 1/Algoritma & Pemrograman/Teori/TUGAS/Tugas Algo 5 (Standar Deviasi)/main
Semester 1/Pengenalan Ilmu Komputer/Praktikum/Projek Akhir Kelompok 8 Kelas A.zip
Semester 1/UAS