Semester 1/.DS_Store
Semester 1/Algoritma & Pemrograman/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/.vscode/tasks.json
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Info.plist
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Resources/DWARF/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Semester 1/Algoritma & Pemrograman/PRAKTIKUM/.DS_Store
.DS_Store
KULIAH (iCloud)
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 2 (Program Rata2)/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/01_output.txt
.tmp.drivedownload
.tmp.driveupload
.vscode
Semester 1/Algoritma & Pemrograman/Teori/Remedial UTS/main
Semester 1/Algoritma & Pemrograman/Teori/TUGAS/Tugas Algo 4 (Program looping rerata)/main
Semester 1/Fisika 
Semester 1/Inggris 
Semester 1/Logika 
Semester 1/Matematika 
Semester 1/PKN 
Semester 1/UTS
MABA
ASET REFERENSI
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/segitiga/segitiga.pages
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/segitiga/segitiga.pdf
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/segitiga/main
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/ganjil 1 - 100/main
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/ganjil 1 - 100/ganjil (1-100).pdf
Semester 1/Algoritma & Pemrograman/Praktikum/P8/Tugas/ganjil 1 - 100/ganjil (1-100).pages
Semester 1/Algoritma & Pemrograman/Praktikum/UAP/main
