Semester 1/.DS_Store
Semester 1/Algoritma & Pemrograman/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/.DS_Store
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/.vscode/tasks.json
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Info.plist
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Resources/DWARF/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
Semester 1/Algoritma & Pemrograman/PRAKTIKUM/.DS_Store
.DS_Store
KULIAH (iCloud)
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 2 (Program Rata2)/main
Semester 1/Algoritma & Pemrograman/KELAS/TUGAS/Tugas Algo 1 (Program Penghitung Luas Segitiga)/01_output.txt
.tmp.drivedownload
.tmp.driveupload
.vscode


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app