body {
  margin: 0;
}

.container {
  display: grid;
}

.banner {
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.banner h1, h2{
  color: white;
}

.profiles {
  height: 100vh;
  background-color: white;
}

.materi-ganjil {
  height: 100vh;
  background-color: white;
}

.materi-genap {
  height: 100vh;
  background-color: grey;
}