body {
  margin: auto;
  padding: 0;
}

.container {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1, .banner h2{
  color: white;
  margin: 0;
}

.banner-text h1 {
  overflow: hidden;
  font-size: 3em;
  width: 0;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards;
  animation-delay: 1.5s;
}

.banner-text h2 {
  align-self: center;
  text-align: center;
  overflow: hidden;
  font-size: 2em;
  width: 0;
  white-space: nowrap;
  animation: typing 1.5s steps(20, end) forwards;
  animation-delay: 4s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.profiles {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.profiles-title {
  text-align: center;
  margin: 0;
  font-size: 35px;
  letter-spacing: 3px;
}

.profiles-content {
  display: flex;
  justify-content: center;
}

.member {
  flex: 0;
  margin: 10px;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.member a {
  color: black;
}


.profile-picture {
  width: 350px;
  height: 350px;
}

#profile-rere {
  background: url('src/profil-rere.png');
}

.member h2 {
  margin: 10px 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.biodata {
  font-size: 1.2em;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.section {
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bg-grey {
  background-color: #D9D9D9;
}

.bg-black {
  background-color: black;
  color: white;
}
.section-image {
  width: 300px;
  margin: 80px;
}

.section-content {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 0;
}

.align-content-center {
  text-align: center;
  padding: 100px;
}

.align-content-right {
  text-align: right;
  padding: 0 0 0 100px;
}

.align-content-right .button {
  align-self: flex-end;
  background-color: white;
}

.section-title {
  font-size: 3em;
  margin: 0;
}

.section-content p {
  font-size: 1.2em;
  text-align: justify;
}

.button {
  align-self: flex-start;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 5px;
}

.button:hover {
  background-color: #a4a4a4;
}

footer {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
}